name: Mirror main to public repo

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   # hele historikken

      - name: Configure git
        run: |
          git config user.name "mirror-bot"
          git config user.email "mirror-bot@example.com"

      - name: Push main to public mirror
        env:
          MIRROR_TOKEN: ${{ secrets.MIRROR_TOKEN }}
        run: |
          # Til debug:
          echo "Remote URL: https://github.com/CFlindtHansen/Test2.git"

          git remote add mirror https://${MIRROR_TOKEN}@github.com/CFlindtHansen/Test2.git
          git push mirror main --force
